body {
	background-color: #eee;
}

#login, #signup {
	max-width: 320px;
	margin: 0 auto;
}

#form-login, #form-signup {
	max-width: 330px;
	padding: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#form-login .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

#form-login #form-login-remember {
	margin-bottom: 10px;
	margin-right: 5px;
}

#form-login .form-control:focus {
	z-index: 2;
}

#form-login label {
	font-weight: normal;
}

#form-login input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#form-login input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.my-info {
	margin: 0 auto;
}

.form-register {
	max-width: 330px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

#lostpass {
	max-width: 320px;
	margin: 0 auto;
}

#lostpass-error {
	max-width: 320px;
	margin: 25px auto 0;
	border-left: 4px solid #dd3d36;
	display: none;
	background: #fff;
	padding: 12px;
}

#resetpwd {
	max-width: 320px;
	margin: 0 auto;
}

#resetpwd-error {
	max-width: 320px;
	margin: 25px auto 0;
	border-left: 4px solid #dd3d36;
	display: none;
	background: #fff;
	padding: 12px;
}

.form-lostpass {
	max-width: 330px;
	padding: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

#validate {
	max-width: 320px;
	margin: 0 auto;
}

.form-validate {
	max-width: 330px;
	padding: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.msg {
	padding: 10px 0 0 0;
}

.footer ul li {
	display: inline-block;
}

#help-nav {
	position: fixed;
}

#verify {
	max-width: 320px;
	margin: 0 auto;
}

#verify-error {
	max-width: 320px;
	margin: 25px auto 0;
	border-left: 4px solid #dd3d36;
	display: none;
	background: #fff;
	padding: 12px;
}

.form-verify {
	max-width: 330px;
	padding: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

#havelogged {
	max-width: 320px;
	padding: 25px;
	margin: 20px auto 0;
}

#auth_grant {
	max-width: 550px;
	margin: 0 auto;
	padding: 25px;
}

/* make sticky footer  */
body, html {
	height: 100%;
}

footer, .push {
	height: 36px;
}

footer, footer .ul, footer .breadcrumb {
	margin-bottom: 0;
	background-color: transparent;
	text-align: center;
}

footer a:link, footer a:visited {
	text-decoration: none;
	color: #777;
}

footer a:hover {
	text-decoration: underline;
	color: #000000;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -36px; /* the bottom margin is the negative value of the footer's height */
}

/* end */
